<template>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {{ $t('home.plannexo') }}
                </div>

                <div class="card-body">
                    {{ $t('home.planejamento') }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" v-model="isCheckAll" @click="checkAll()"></th>
                        <th scope="col">SKU</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Skill</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(dev, index) in developers" :key="index">
                        <td>
                            <input type="checkbox" @change="updateCheckall()" v-bind:value='dev.id' v-model='arrSku'>
                        </td>
                        <td v-for="item in dev" :key="item">
                            {{item}}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        data: ()=> {
            return {
                isCheckAll: false,
                arrSku: [],
                developers: [
                    {id:'sku123', name: 'Gabriel', skill: 'Vue-js', team: 'Plannexo'},
                    {id:'sku123', name: 'Celso', skill: 'PHP', team: 'Plannexo'},
                    {id:'sku123', name: 'Ruan', skill: 'Rubi', team: 'Plannexo'},
                    {id:'sku125', name: 'Wilson', skill: 'Frontend', team: 'Plannexo'},
                    {id:'sku126', name: 'Walter', skill: 'UX', team: 'Plannexo'},
                    {id:'sku126', name: 'Adriano', skill: 'PHP', team: 'Plannexo'},
                ]
            }
        },
        methods :{
            checkAll: function(){
                this.isCheckAll = !this.isCheckAll;
                this.arrSku = [];
                if(this.isCheckAll){ // Check all
                    for (var key in this.developers) {
                        this.arrSku.push(this.developers[key].id);
                    }
                }
            },
             updateCheckall: function(){
                if(this.arrSku.length == this.developers.length){
                    this.isCheckAll = true;
                }else{
                    this.isCheckAll = false;
                }
            }
        },
        mounted() {
        }
    }
</script>
