<template>
    <div class="top-bar pln-background-orange">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="menu-bar d-flex align-items-center justify-content-start text-uppercase h-100">
                        <span @click="openMenu()" class="open-menu" id="open_menu" ><i class="fas fa-bars mr-1"></i>Menu</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="text-center logo-bar d-flex align-items-center h-100">
                        <img src="/Plannexo-White.png" width="120" alt="" class="mx-auto">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="text-uppercase d-flex align-items-center justify-content-end h-100">
                        <i class="fas fa-sign-out-alt"></i> {{ $t("header.sair") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            openMenu(){
                event.stopPropagation();

                if(document.querySelector('#main-menu').classList.contains('open-menu')){
                  console.log('1')
                    document.querySelector('#main-menu').classList.remove('open-menu');
                    document.querySelector('.overlay-menu').classList.remove('active');
                    document.querySelector('#pln-content').classList.remove('filter-blur');
                }else{
                    document.querySelector('#main-menu').classList.add('open-menu');
                    document.querySelector('.overlay-menu').classList.add('active');
                    document.querySelector('#pln-content').classList.add('filter-blur');
                }
            }
        },
        mounted() {
        }
    }
</script>

<style lang="scss">
    @import 'src/sass/_variables';

    .pln-background-orange{
        z-index: 1001;
        background-color: $orange;
    }

    .top-bar{
        color: white;
        padding: 7px 0;
        max-height: 45px;
        z-index: 100;
        position: relative;
    }
    .open-menu{
        cursor: pointer;
    }
</style>
