<template>
  <div>
    <div class="overlay-menu"></div>
    <div id="main-menu" class="menu-container">
      <div class="pln-logo-menu">
        <a href="#" class="gotoback" data-route="/br/home">
          <img width="120" src="/Plannexo-Color.png">
        </a>
      </div>
      <div class="menu-content">
        <template v-for="list in menuList">
          <a v-on:click="list.isOpen = !list.isOpen" :key="list.id" href="#" class="text-uppercase">
            <div class="menu-category has-sub-menu py-2 w-100"><i :class="list.icon" class="orange mr-2"></i> {{ $t(list.name) }}<i class="fas fa-angle-down float-right"></i></div>
          </a>
          <transition name="slide" :key="list.id">
            <div v-if="list.isOpen" :key="list.id+'d'" :id="list.id" class="menu-items">
              <hr class="m-0">
              <ul class="py-2">
                  <li class="py-1" v-for="(li, keyLi) in list.items" :key="keyLi"><a :href="li.link">{{ $t(li.name) }}</a></li>
              </ul>
            </div>
          </transition>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    data: () => {
        return {
            langs: [
              {lang: 'pt-br', text: 'Português'},
              {lang: 'es', text: 'Espanhol'},
              {lang: 'en', text: 'Inglês'}
            ],
            menuList: [
              {
                name: 'menu.relatorio',
                id: 'relatorios',
                icon: 'fas fa-chart-bar',
                isOpen: false,
                items: [
                  {name: 'menu.dashboard', link: '#'},
                  {name: 'menu.resumo', link: '#'}
                ]
              },
              {
                name: 'menu.planejamento',
                id: 'planejamento',
                icon: 'fas fa-pencil-alt',
                isOpen: false,
                items: [
                  {name: 'menu.sku', link: '#'},
                  {name: 'menu.suggCompras', link: '#'},
                  {name: 'menu.capaPedido', link: '#'},
                  {name: 'menu.histAprov', link: '#'},
                  {name: 'menu.ordemCompra', link: '#'}
                ]
                },
              {
                name: 'menu.parametros',
                id: 'parametros',
                icon: 'fas fa-solar-panel',
                isOpen: false,
                items: [
                  {name: 'menu.politica', link: '#'},
                  {name: 'menu.calendario', link: '#'}
                ]
              },
            ],
            show: true,
        }
    },
    methods: {

    },
    mounted() {
      //$('.bm-burger-button').append(`<span class="span-bm-burger-menu">${this.$t('menu.politica')}</span>`)
    },
}
</script>

<style lang="scss">

@import 'src/sass/_variables';
.overlay-menu{
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay-menu.active {
  visibility: visible;
  opacity: 1;
}
.orange{
  color:$orange;
}
.pln-logo-menu{
  padding: 1rem 2rem;
  border-bottom: 1px solid #eee;
}
.menu-container{
  height: 100%;
  min-height: calc(100vh - 45px);
  width: 270px;
  position: absolute;
  z-index: 20;
  top: 0;
  left: -270px;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}
.menu-container.open-menu{
  left: 0;
}
.menu-content{
  padding: 1rem 2rem;
}
.menu-content a:hover{
  text-decoration: none;
}
.menu-content .fa-angle-down{
  font-size: 12px;
  color: #BBBBBB;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 5px;

}
.menu-category{
  color: #555555;
  font-size: 0.9rem;
  position: relative;
  transition: 0.2s;
}
.menu-category:hover {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}
.menu-category i{
  font-size: 18px;
}
.menu-items li{
  list-style-type: circle;
  color: #3490dc;
  transition: 0.2s;
}
.menu-items li:hover {
  list-style-type: disc;
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
}
.menu-items li a{
  font-size: 0.8rem;
}
.slide-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.slide-leave-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.slide-enter-to, .slide-leave {
  max-height: 100px;
  overflow: hidden;
}
.slide-enter, .slide-leave-to {
  overflow: hidden;
  max-height: 0;
}
</style>
