<template>
    <div class="row justify-content-center">
        <div class="col-md-2 m-1">
        <select class="form-control" v-model="$i18n.locale">
            <option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang.lang">{{ lang.text }}</option>
        </select>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                langs: [
                {lang: 'pt-br', text: 'Português'},
                {lang: 'es', text: 'Espanhol'},
                {lang: 'en', text: 'Inglês'}
                ]
            }
        },
        mounted() {
        }
    }
</script>
