<template>
  <div id="app">
    <Header></Header>
    <main  class="position-relative">
        <Menu></Menu>
        <div id="pln-content" class="container-fluid">
          <p>TA ME DANDO NOS NERVOS</p>
        </div>
    </main>

  </div>
</template>

<script>
import Header from './components/HeaderComponent.vue'
import Menu from './components/MenuComponent.vue'

export default {
  components: {
    Header,
    Menu,
  },
};
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
